@{
    ViewData["Title"] = "Відновлення паролів";
    Layout = "~/Views/Shared/_MinimalLayout.cshtml";
}

<link rel="stylesheet" href="~/css/PasswordRecovery/passwordRecovery.css" />
<link rel="stylesheet" href="~/css/siteMinmal.css" />

<div class="login-main-container">
    <div class="top-bar">
        <div class="line"></div>
        <a class="close-btn" asp-area="" asp-controller="Home" asp-action="Index">X</a>
    </div>

    <div class="login-container">
        <h2>Забули пароль?</h2>
        <form action="/EmailToPasswordRecoveryMessage" method="post" class="login-form">
            <div class="login-box-recovery">
                @* <img class="recovery-memoji" src="~/Images/HomePage/PasswordRecovery/PasswordRecoveryImg.png" /> *@
                <div class="form-group">
                    <label for="email" class="control-label">Пошта</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="вкажіть пошту" required>
                </div>
            </div>

            <div class="form-group-buttons-recovery">
                <button type="submit" class="btn btn-primary">Відправити</button>
                <a type="button" class="btn btn-secondary" href="/Home" style="width: fit-content !important">Повернутися назад</a>
            </div>
        </form>
    </div>
</div>