@model string
@{
    ViewData["Title"] = "Відновлення паролів";
    Layout = "~/Views/Shared/_MinimalLayout.cshtml";
}

<link rel="stylesheet" href="~/css/PasswordRecovery/passwordRecoveryMessage.css" />
<link rel="stylesheet" href="~/css/siteMinmal.css" />

<div class="login-main-container">
    <div class="top-bar">
        <div class="line"></div>
        <a class="close-btn" asp-area="" asp-controller="Home" asp-action="Index">X</a>
    </div>

    <div class="login-container">
        <h2>Забули пароль?</h2>
        <form action="/emailToPasswordRecovery" method="post" class="login-form">
            <div class="login-box-recovery">

                @* <div class="message-box">
                    <p>Сообщение о сбросе пароля было отправлено на вашу почту. </p>
                </div> *@

@*                 <img class="recovery-memoji" src="~/Images/HomePage/PasswordRecovery/PasswordRecoveryImg.png" /> *@
                <div class="form-group">
                    <label for="email" class="control-label">Пошта</label>
                    <input class="form-control" readonly value="@Model">
                </div>
            </div>
            <div class="form-group-buttons-recovery">
                <a type="button" class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Index">Повернутися додому</a>
                <div class="message-box">
                    Повідомлення про скидання пароля було надіслано на вашу пошту.
                </div>
            </div>
        </form>
    </div>
</div>