@{
    ViewData["Title"] = "Платіж не пройшов.";
    Layout = "";
}

<link rel="stylesheet" href="~/css/Payments/Failed.css" />
@* <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> *@

<div class="payment-container">
    <h1>Платіж не пройшов</h1>
    <p>На жаль, ваш платіж не вдалося обробити. Будь ласка, повторіть спробу пізніше або зверніться до служби підтримки.</p>
    <a href="/" class="button">Повернення додому</a>
</div>