@{
    ViewData["Title"] = "Платіж виконано успішно";
    Layout = "";
}
<link rel="stylesheet" href="~/css/Payments/Success.css"  />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<div class="payment-container">
    <h1>Оплата успішна!</h1>
    <p>Дякуємо вам за оплату. Ваша угода пройшла успішно.</p>
    <a href="/" class="button">Повернення додому</a>
</div>
