@{
    ViewData["Title"] = "Очікується оплата.";
    Layout = "";
}
<link rel="stylesheet" href="~/css/Payments/Pending.css" />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<div class="payment-container">
    <h1>Оплата очікується</h1>
    <p>Ваш платіж наразі перебуває на розгляді. Ми надішлемо вам всю інформацію електронною поштою.</p>
    <a href="/" class="button">Повернення додому</a>
</div> 