.module-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-image: url(/Images/Backgrounds/RectangleBackgorund.svg);
    background-size: 500px;*/
    width: 100vw;
    /*    height: 500px;*/
    /*box-shadow: 20px 20px 200px 50px white inset, inset 0 0 200px 20px white;*/
}

.module-content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.module-container h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 70px 0 40px 0;
}

.module-content h1 {
    font-size: 1.8rem;
    font-weight: 600;
}

.lock-icon-c {
    filter: invert(100%);
}

.math-container, .history-container, .ukranian-container,
.math-container-blocked, .history-container-blocked, .ukranian-container-blocked {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0px 30px 30px 30px;
    color: white;
    height: 300px;
    width: 230px;
}

.math-container, .history-container, .ukranian-container {
    overflow: hidden;
}

.math-container-blocked::after,
.history-container-blocked::after,
.ukranian-container-blocked::after {
    position: absolute;
    z-index: 2;
    content: '';
    margin-top: 0px;
    width: 270px; /*jei nori kad susijungtu pakeisk i 280px*/
    height: 335px;
    background-color: lightgrey;
    border: 2px solid grey; /*jei nenori borderio sita uzkomentuok*/
    border-radius: 30px; /*jei nenori borderio sita uzkomentuok*/
    filter: opacity(0.5);
}

.math-container, .math-container-blocked {
    background-color: #229ED9;
    box-shadow: #229ED9 0px 0px 30px;
}

.history-container, .history-container-blocked {
    background-color: #404040;
    box-shadow: grey 0px 0px 30px;
}

.ukranian-container, .ukranian-container-blocked {
    background-color: #BBC73B;
    box-shadow: #BBC73B 0px 0px 30px;
}

.icon-container-math img,
.icon-container-history img,
.icon-container-ukranian img {
    position: relative;
    z-index: 2;
    width: 55px;
}

.icon-container-history,
.icon-container-ukranian,
.icon-container-math {
    position: absolute;
    top: 5px;
    left: 5px;
}

.module-container h3 {
    margin: 70px 0 30px 0;
}

.blue-module-circle,
.grey-module-circle,
.green-module-circle {
    position: absolute;
    top: -18px;
    left: -20px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    z-index: 1;
}

.blue-module-circle {
    background-color: #a7daf1;
}

.grey-module-circle {
    background-color: #737373;
}

.green-module-circle {
    background-color: #e4e9af;
}

.module-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    padding: 5px;
}

    .module-button:hover {
        transition: 0.2s ease-in-out;
        cursor: pointer;
        box-shadow: white 2px 2px 1px 0px;
        padding: 10px;
    }

    .module-button img {
        width: 45px;
    }

@media (max-width: 1024px) {
    .module-content {
        flex-direction: column;
    }

    /*    .module-container::after {
        width: 300px;
        height: 1050px;
    } */
}

/*-- COMMIT 101 STYLES BELOW: --*/

/*.module-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
    /*background-image: url(/Images/Backgrounds/RectangleBackgorund.svg);
    background-size: 500px;*/
    /*width: 100vw;*/
    /*    height: 500px;*/
    /*box-shadow: 20px 20px 200px 50px white inset, inset 0 0 200px 20px white;*/
/*}

.module-content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.module-container h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 70px 0 40px 0;
}

.module-content h1 {
    font-size: 1.8rem;
    font-weight: 600;
}

.lock-icon-c{
    filter: invert(100%);
}

.math-container, .history-container, .ukranian-container,
.math-container-blocked, .history-container-blocked, .ukranian-container-blocked {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0px 30px 30px 30px;
    color: white;
    height: 300px;
    width: 230px;
}

.math-container, .history-container, .ukranian-container {
    overflow: hidden;
}

.math-container-blocked::after,
.history-container-blocked::after,
.ukranian-container-blocked::after {
    position: absolute;
    z-index: 2;
    content: '';
    margin-top: 0px;
    width: 270px;
    height: 335px;
    background-color: lightgrey;
    border: 2px solid grey; 
    border-radius: 30px;
    filter: opacity(0.5);
}

.math-container, .math-container-blocked {
    background-color: #229ED9;
    box-shadow: #229ED9 0px 0px 30px;
}

.history-container, .history-container-blocked {
    background-color: #404040;
    box-shadow: grey 0px 0px 30px;
}

.ukranian-container, .ukranian-container-blocked {
    background-color: #BBC73B;
    box-shadow: #BBC73B 0px 0px 30px;
}

.icon-container-math img,
.icon-container-history img,
.icon-container-ukranian img {
    position: relative;
    z-index: 2;
    width: 55px;
}

.icon-container-history,
.icon-container-ukranian,
.icon-container-math {
    position: absolute;
    top: 5px;
    left: 5px;
}

.module-container h3 {
    margin: 70px 0 30px 0;
}

.blue-module-circle,
.grey-module-circle,
.green-module-circle {
    position: absolute;
    top: -18px;
    left: -20px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    z-index: 1;
}

.blue-module-circle {
    background-color: #a7daf1;
}

.grey-module-circle {
    background-color: #737373;
}

.green-module-circle {
    background-color: #e4e9af;
}

.module-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    padding: 5px;
}

    .module-button:hover {
        transition: 0.2s ease-in-out;
        cursor: pointer;
        box-shadow: white 2px 2px 1px 0px;
        padding: 10px;
    }

    .module-button img {
        width: 45px;
    }

@media (max-width: 1024px) {
    .module-content {
        flex-direction: column;
    }*/

/*    .module-container::after {
        width: 300px;
        height: 1050px;
    } */
/*}*/
