body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: #000000e6;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    color: white;
    margin-bottom: 50px;
    font-weight: 900;
}

.form-group input {
    width: 600px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    position: relative;
    width: 1000px;
    height: 300px;
    width: 100%;
}

.go-forward {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
    background-color: #BBC73B;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 600px;
}

.go-forward:hover {
    color: white;
    background-color: #229ED9;
    transition: 0.2s ease-in-out;
}


@media(max-width: 1024px) {
    .container h1 {
        text-align: center;
        width: 350px;
        word-break: break-word;
    }

    .go-forward {
        font-size: 1rem;
    }
}

/*-- COMMIT 101 STYLES BELOW: --*/

/*body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: #000000e6;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    .container h1 {
        color: white;
        margin-bottom: 50px;
        font-weight: 900;
    }

.form-group input{
    width: 600px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    position: relative;
    width: 1000px;
    height: 300px;
    width: 100%;
}

.go-forward {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
    background-color: #BBC73B;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 600px;

}

    .go-forward:hover {
        color: white;
        background-color: #229ED9;
        transition: 0.2s ease-in-out;
    }
*/